<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Головна</title>
		<link rel="stylesheet" href="css/navbar.css" />
		<link rel="stylesheet" href="css/footer.css" />
		<link rel="stylesheet" href="css/home.css" />
		<link rel="stylesheet" href="css/root.css" />
	</head>
	<body>
		<header th:replace="fragments/navbar :: navbar"></header>

		<div class="main-container">
			<div class="content">
				<h1>Ласкаво просимо на сайт!</h1>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>
