<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Головна</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/root.css}" />
		<link rel="stylesheet" href="css/login.css" />
	</head>
	<body>
		<header th:replace="fragments/navbar :: navbar"></header>

		<div class="main-container">
			<div class="wrapper">
				<div class="container">
					<h2>Login</h2>
					<form action="/login" method="post">
						<input type="email" name="email" required placeholder="Email" />
						<input
							type="password"
							name="password"
							required
							placeholder="Password"
						/>
						<button type="submit">Login</button>
					</form>

					<!-- Повідомлення про помилки -->
					<p th:if="${error}" style="color: red">
						Invalid credentials, please try again.
					</p>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
