<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Головна</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/root.css}" />
		<link rel="stylesheet" href="css/register.css" />
	</head>
	<body>
		<header th:replace="fragments/navbar :: navbar"></header>

		<div class="main-container">
			<div class="wrapper">
				<div class="container">
					<h1>Register</h1>
					<form action="/register" method="post">
						<input type="hidden" name="_csrf" value="${_csrf.token}" />

						<label for="name">Name</label>
						<input type="text" id="name" name="name" required />

						<label for="email">Email</label>
						<input type="email" id="email" name="email" required />

						<label for="password">Password</label>
						<input type="password" id="password" name="password" required />

						<label for="confirmPassword">Confirm Password</label>
						<input
							type="password"
							id="confirmPassword"
							name="confirmPassword"
							required
						/>

						<button type="submit">Register</button>
					</form>

					<!-- Виведення помилки, якщо є -->
					<p th:if="${param.error}">Email already exists</p>
				</div>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>
